<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>BradJasper.Focus</string>
	<key>connections</key>
	<dict>
		<key>6E4722A5-FC77-47A6-A7EE-3BF687FCBE7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>88FEF460-FC38-43A1-9A4A-3E11D3F1568D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B11B132B-4A61-4C05-8F4F-2111F454E6C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A79E6E2-5398-45C9-A659-2B485F0F9417</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B2ED0B59-6714-4134-BFE8-28754225FD1B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5795E291-0310-427E-88B8-629A5F122CBB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D1CD0364-9226-419E-9EB4-83662CDE13F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7FD4F702-F5E1-4F3F-8899-53F50B4F9001</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EC0F4ABB-A6C1-47EB-8234-2EF12D9CB85F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EB96E5B0-B0E1-4A45-B1FE-9347993CC773</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79D27E63-6AFA-42BF-A3C8-85083DFBCF10</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EC0F4ABB-A6C1-47EB-8234-2EF12D9CB85F</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Brad Jasper</string>
	<key>description</key>
	<string>Enable or disable Focus</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Focus</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>focus</string>
				<key>subtext</key>
				<string>Enable Focus</string>
				<key>text</key>
				<string>Focus</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B11B132B-4A61-4C05-8F4F-2111F454E6C6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>focus://focus</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7A79E6E2-5398-45C9-A659-2B485F0F9417</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>unfocus</string>
				<key>subtext</key>
				<string>Disable Focus</string>
				<key>text</key>
				<string>Unfocus</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EB96E5B0-B0E1-4A45-B1FE-9347993CC773</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>focus://unfocus</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>79D27E63-6AFA-42BF-A3C8-85083DFBCF10</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>toggle</string>
				<key>subtext</key>
				<string>Toggle Focus</string>
				<key>text</key>
				<string>Toggle</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E4722A5-FC77-47A6-A7EE-3BF687FCBE7A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>focus://toggle</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>88FEF460-FC38-43A1-9A4A-3E11D3F1568D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>focus://preferences</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5795E291-0310-427E-88B8-629A5F122CBB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>preferences</string>
				<key>subtext</key>
				<string>Focus Preferences</string>
				<key>text</key>
				<string>Preferences</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B2ED0B59-6714-4134-BFE8-28754225FD1B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query} min</string>
				<key>title</key>
				<string>Focusing in</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7FD4F702-F5E1-4F3F-8899-53F50B4F9001</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>focus</string>
				<key>text</key>
				<string>Focus in x mins</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D1CD0364-9226-419E-9EB4-83662CDE13F5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"
time=$(expr $query \* 60)
sleep $time
open focus://focus?minutes=25</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EC0F4ABB-A6C1-47EB-8234-2EF12D9CB85F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Block distracting websites, more info at http://heyfocus.com</string>
	<key>uidata</key>
	<dict>
		<key>5795E291-0310-427E-88B8-629A5F122CBB</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>6E4722A5-FC77-47A6-A7EE-3BF687FCBE7A</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>79D27E63-6AFA-42BF-A3C8-85083DFBCF10</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>7A79E6E2-5398-45C9-A659-2B485F0F9417</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>7FD4F702-F5E1-4F3F-8899-53F50B4F9001</key>
		<dict>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>88FEF460-FC38-43A1-9A4A-3E11D3F1568D</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>B11B132B-4A61-4C05-8F4F-2111F454E6C6</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>B2ED0B59-6714-4134-BFE8-28754225FD1B</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>D1CD0364-9226-419E-9EB4-83662CDE13F5</key>
		<dict>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>EB96E5B0-B0E1-4A45-B1FE-9347993CC773</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>EC0F4ABB-A6C1-47EB-8234-2EF12D9CB85F</key>
		<dict>
			<key>ypos</key>
			<real>750</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://heyfocus.com</string>
</dict>
</plist>
