[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim"]
	path = vim
	url = https://github.com/mmroczka/vim
	ignore = dirty
[submodule "hammerspoon/Spoons/VimMode.spoon"]
	path = hammerspoon/Spoons/VimMode.spoon
	url = https://github.com/mmroczka/VimMode.spoon
	ignore = dirty
[submodule "dotbot-brewfile"]
	path = dotbot-brewfile
	url = https://github.com/sobolevn/dotbot-brewfile.git
[submodule "dotbot-brew"]
	path = dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
