tags
*.swp
node/work_npmrc
.DS_Store
hammerspoon/Spoons/Lunette.spoon
hammerspoon/Spoons/VimSpoon.spoon
karabiner/karabiner.json
karabiner/automatic_backups/karabiner_20201112.json
karabiner/automatic_backups/*
karabiner/karabiner.json
