[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim"]
	path = vim
	url = https://github.com/mmroczka/vim
	ignore = dirty
[submodule "dotbot-brewfile"]
	path = dotbot-brewfile
	url = https://github.com/sobolevn/dotbot-brewfile.git
[submodule "dotbot-brew"]
	path = dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
[submodule "hammerspoon/Spoons/VimSpoon"]
	path = hammerspoon/Spoons/VimSpoon
	url = git@personal.github.com:mmroczka/VimSpoon.git
[submodule "hammerspoon/Spoons/Lunette"]
	path = hammerspoon/Spoons/Lunette
	url = git@personal.github.com:mmroczka/Lunette.git
