[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim"]
	path = vim
	url = https://github.com/JustinHoyt/.vim
[submodule ".vim"]
	path = .vim
	url = https://github.com/mmroczka/.vim.git
