[storage]
engine = dropbox

# go2shell
# hammerspoon
# hazel
# httpie
# insomnia
# istat-menus-5
# iterm2
# keyboard-maestro
# macosx
# rvm
# telegram_macos
# tower-3
# vscode

directory = Mackup

[applications_to_sync]
alfred
bartender
dash
fantastical

[applications_to_ignore]
# dropbox syncing gets screwed up if you try it with keyboard maestro
keyboard-maestro
franz
bettertouchtool
keyboard-maestro
