[storage]
engine = dropbox

# go2shell
# hammerspoon
# hazel
# httpie
# insomnia
# istat-menus-5
# iterm2
# keyboard-maestro
# macosx
# rvm
# telegram_macos
# tower-3
# vscode

[applications_to_sync]
bartender
bettertouchtool
dash
fantastical
franz
keyboard-maestro

[applications_to_ignore]

