{:profiles
 {:MrStark {:default true
         :sim     50
         :delay   300
         :alone   300
         :held    300}}
 :devices {
				; :macbook-internal [{:product_id 631 :vendor_id 1452}]
				:uhk-keyboard [{:product_id 24866 :vendor_id 7504}]
			}
 :applications {:vim-mode-disabled-application ["^com\\.apple\\.Terminal$",
                                                "^com\\.googlecode\\.iterm2$",
                                                "^org\\.vim\\."]
                :Chromes                       ["^com\\.google\\.Chrome$", "^org\\.chromium\\.Chromium$", "^com\\.google\\.Chrome\\.canary$", "^com\\.brave\\.Browser"]
                :Terminals                     ["^com\\.apple\\.Terminal$", "^com\\.googlecode\\.iterm2$", "^io\\.alacritty$"]
               }
 :templates {:alfred "osascript -e 'tell application \"Alfred 4\" to run trigger \"%s\" in workflow \"%s\" with argument \"%s\"'"
             :km "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
             :btt "osascript -e 'tell application \"BetterTouchTool\" to trigger_named \"%s\"'"
             }



 :simlayers {:caps_lock-mode {:key :caps_lock}
             :spacebar_mode {:key :spacebar}
             :semicolon_mode {:key :f24}
             :programming_mode {:key :period}
             :change_mode {:key :f24}
             :focus_mode {:key :f24}
             :go_to_mode {:key :f24}
             :launch_mode {:key :f24} ; Bind an unused key
             :window_manipulation_mode {:key :f24}
             :utilities_mode {:key :f24}
             :spacebar_command_mode {:key :f24}
             ; :double-right-shift-mode {:key :f24}
             }
 :main [
        {:des "Caps -> Hyper / Esc"
         :rules [ [:##caps_lock :!!CTOleft_shift nil {:alone :escape}]]}

        {:des "FN from UHK" :rules [[:f23 :fn [:uhk-keyboard] ]]} ;* UHK FN as mac fn via UHK hardcoded f24 > fn in KE but only for uhk

        {:des   "shift+cmd+l types javascript: and hits enter hack" ;; https://superuser.com/a/324267
         :rules [ [:!CSl [:!Cl :j :a :v :a :s :c :r :i :p :t :!Ssemicolon :return_or_enter] :Chromes] ]}
        ; {:des "Hold cmd+v for KM clipboard history"
        ;  :rules [ [:!Cv nil nil {:alone :!Cv :held [:km "Activate Clipboard History Switcher"] :repeat false :halt true :params{:alone 150 :held 200}} ] ]}
        {:des "Hold cmd+v for PASTE2 clipboard history"
         :rules [ [:!Cv nil nil {:alone :!Cv :held :!TSz :repeat false :halt true :params{:alone 150 :held 200}} ] ]}
        {:des "Right cmd -> Alfred"
         :rules [[:right_command :right_command nil {:alone :!CTOSspacebar}]]}
        {:des "Left option -> KM: If Exists Trigger Action Menu"
         :rules [[:left_option :left_option nil {:alone [:km "If Exists Trigger Action Menu"]}]]}
        {:des "Right option -> Cardhop"
         :rules [[:right_option :right_option nil {:alone :!OCT1}]]}
        {:des "Quit application by pressing ⌘q twice" :rules[ [:!C#Pq [:!Cq ["⌘q" 0]] ["⌘q" 1]]
			[:!C#Pq ["⌘q" 1] nil {:delayed {:invoked ["⌘q" 0] :canceled ["⌘q" 0]}}] ]}
        {:des "simultaneous f dl press to Contrl+[" :rules [[[:d :f] :!Topen_bracket]]}

        ; Here I'm trigger hammerspoon's flux module to dim my screen based on the mode I'm in.
        ; SCOTf20 == vimMode dimmer off
        ; SCOTf19 == vimMode dimmer blue on
        ; SCOTf18 == vimMode dimmer red on
        ; This is possible through the brilliant work of these folks:
        ; https://github.com/dbalatero/VimMode.spoon
        ; https://github.com/calvinwyoung/.dotfiles/blob/master/darwin/hammerspoon/flux.lua

        {:des "Left cmd -> Simulatneously press j and q which triggers VimSpoon naviagtion in Hammerspoon"
         :rules [[:left_command :left_command nil {:alone [["vim_mode" 1]
                                                           ["visual_mode" 0]
                                                           ["visual_block_mode" 0]
                                                           ["delete_mode" 0]
                                                           ["go_to_mode" 0]
                                                           ["go_to_visual_mode" 0]
                                                           :!SCOTf19]}]]}

        {:des "go to mode"
           :rules [:go_to_mode
                   [:g [:!Cup_arrow ["go_to_mode" 0]]]
                   [:!Sg [:!Cdown_arrow ["go_to_mode" 0]]]
                   [:!Rg [:!Cdown_arrow ["go_to_mode" 0]]]
                    ]}

        {:des "delete mode"
           :rules [:delete_mode
                    [:b [:!SOleft_arrow :delete_or_backspace ["delete_mode" 0]]]
                    [:d [:!Cleft_arrow :!SCright_arrow :delete_or_backspace ["delete_mode" 0]]]
                    [:e [:!SOright_arrow :delete_or_backspace ["delete_mode" 0]]]
                    [:h [:!Sleft_arrow :delete_or_backspace ["delete_mode" 0]]]
                    [:j [:!Sdown_arrow :delete_or_backspace ["delete_mode" 0]]]
                    [:k [:!Sup_arrow :delete_or_backspace ["delete_mode" 0]]]
                    [:l [:!Sright_arrow :delete_or_backspace ["delete_mode" 0]]]
                    [:w [:!SOright_arrow :!Sright_arrow :delete_or_backspace ["delete_mode" 0]]]
                    ]}

        {:des "outdent_mode"
           :rules [:outdent_mode
                    [:!Scomma [:!SCopen_bracket ["outdent_mode" 0]]]
                    ]}

        {:des "indent_mode"
           :rules [:indent_mode
                    [:!Speriod [:!SCclose_bracket ["indent_mode" 0]]]
                    ]}

        {:des "vim mode"
           :rules [:vim_mode
                    [:!R4 :!Cright_arrow]
                    [:!S6 :!Cleft_arrow]
                    [:!Scomma ["outdent_mode" 1]]
                    [:!Speriod ["indent_mode" 1]]
                    [:a :vk_none]
                    [:!Sa [:!Cright_arrow ["vim_mode" 0] ["visual_mode" 0] :!SCOTf20]]
                    [:!Ra [:!Cright_arrow ["vim_mode" 0] ["visual_mode" 0] :!SCOTf20]] ; make sure it works with right shift too
                    [:b :!Oleft_arrow]
                    [:c :!Cc]
                    [:d ["delete_mode" 1]]
                    [:!Sd [:!SCright_arrow :delete_or_backspace]]
                    [:!Rd [:!SCright_arrow :delete_or_backspace]] ; make above also work with right shift
                    [:!Td [:down_arrow :down_arrow :down_arrow :down_arrow :down_arrow :down_arrow :down_arrow :down_arrow :down_arrow :down_arrow :down_arrow :down_arrow :down_arrow :down_arrow :down_arrow ]] ; go down 15 lines
                    [:e :!Oright_arrow]
                    [:g ["go_to_mode" 1]]
                    [:!Sg :!Cdown_arrow]
                    [:!Rg :!Cdown_arrow]
                    [:h :left_arrow]
                    [:i [["vim_mode" 0] ["visual_mode" 0] :!SCOTf20]]
                    [:!Si [:!Cleft_arrow ["vim_mode" 0] ["visual_mode" 0] :!SCOTf20]]
                    [:!Ri [:!Cleft_arrow ["vim_mode" 0] ["visual_mode" 0] :!SCOTf20]] ; make sure it works with right shift too
                    [:j :down_arrow]
                    [:!Sj [:!Cright_arrow :right_arrow :delete_or_backspace]]
                    [:!Tj [:!Cleft_arrow :!CSright_arrow :!Cc :delete_or_backspace :delete_or_backspace :down_arrow :!Cright_arrow :return_or_enter :!Cv]]
                    [:k :up_arrow]
                    [:!Tk [:!Cleft_arrow :!CSright_arrow :!Cc :delete_or_backspace :delete_or_backspace :!Cleft_arrow :return_or_enter :up_arrow :!Cv]]
                    [:l :right_arrow]
                    [:o [:!Cright_arrow :return_or_enter ["vim_mode" 0] ["visual_mode" 0] :!SCOTf20]] ; add a line above yourself then drop into typing
                    [:!So [:up_arrow :!Cright_arrow :return_or_enter ["vim_mode" 0] ["visual_mode" 0] :!SCOTf20]] ; add a line below yourself then drop into typing
                    [:p :!Cv]
                    [:!Tr :!SCz]
                    [:u :!Cz]
                    [:!Tu [:up_arrow :up_arrow :up_arrow :up_arrow :up_arrow :up_arrow :up_arrow :up_arrow :up_arrow :up_arrow :up_arrow :up_arrow :up_arrow :up_arrow :up_arrow ]] ; go up 15 lines
                    [:v [["vim_mode" 0] ["visual_mode" 1] :!SCOTf18]]
                    [:!Sv [["vim_mode" 0]
                           ["visual_mode" 0]
                           ["visual_block_mode" 1]
                           :!SCOTf18 ; turn on Red Vim Dimmer
                           :!Cleft_arrow ; go the very left of the line
                           :!SCright_arrow] ; hold shift and go to very right of the line
                     ]
                    [:w nil nil {:held :!Oright_arrow :afterup [:!Oright_arrow :right_arrow] :params{:held 150}}]
                    [:x :delete_forward]
                    [:!Sx :delete_or_backspace]
                    [:!Sy [:!SCright_arrow :!Cc :left_arrow]]

                    [:left_arrow :vk_none]
                    [:down_arrow :vk_none]
                    [:up_arrow :vk_none]
                    [:right_arrow :vk_none]
                    [:spacebar :vk_none]
                    ]}

        {:des "visual BLOCK mode"
           :rules [:visual_block_mode
                    [:!Sg :!SCdown_arrow]
                    [:!Rg :!SCdown_arrow]
                    [:g [["go_to_visual_mode" 1]]]
                    [:i [["vim_mode" 0] ["visual_mode" 0] ["visual_block_mode" 0] :!SCOTf20]]
                    [:j [:!Sdown_arrow :!SCright_arrow]]
                    [:k [:!Sup_arrow :!SCright_arrow]]
                    [:v [["vim_mode" 0] ["visual_mode" 1] ["visual_block_mode" 0] :!SCOTf18]]
                    [:x [:delete_forward ["vim_mode" 1] ["visual_mode" 0] ["visual_block_mode" 0] :!SCOTf19]]
                    [:!Sx [:delete_or_backspace ["vim_mode" 1] ["visual_mode" 0] ["visual_block_mode" 0] :!SCOTf19]]
                    [:y [["vim_mode" 1] ["visual_mode" 0] ["visual_block_mode" 0] :!Cc :!SCOTf19]]
                    ]}

        {:des "go to visual mode"
           :rules [:go_to_visual_mode
                    [:g [:!SCup_arrow ["go_to_visual_mode" 0]]]
                    ]}

        {:des "visual mode"
           :rules [:visual_mode
                    [:!R4 :!SCright_arrow]
                    [:!S6 :!SCleft_arrow]
                    [:b :!SOleft_arrow]
                    [:e :!SOright_arrow]
                    [:g [["go_to_visual_mode" 1]]]
                    [:!Sg :!SCdown_arrow]
                    [:!Rg :!SCdown_arrow]
                    [:h :!Sleft_arrow]
                    [:i [["vim_mode" 0] ["visual_mode" 0] ["visual_block_mode" 0] :!SCOTf20]]
                    [:j :!Sdown_arrow]
                    [:k :!Sup_arrow]
                    [:l :!Sright_arrow]
                    [:p [:!Cv ["vim_mode" 1] ["visual_mode" 0] :!SCOTf19]]
                    [:v [["vim_mode" 1] ["visual_mode" 0] ["visual_block_mode" 0] :!SCOTf19]]
                    [:!Sv [["vim_mode" 0]
                           ["visual_mode" 0]
                           ["visual_block_mode" 1]
                           :!SCOTf18 ; turn on Red Vim Dimmer
                           :!Cleft_arrow ; go the very left of the line
                           :!SCright_arrow] ; hold shift and go to very right of the line
                     ]
                    [:w [:!SOright_arrow :!Sright_arrow]]
                    [:x [:delete_forward ["vim_mode" 1] ["visual_mode" 0] ["visual_block_mode" 0] :!SCOTf19]]
                    [:!Sx [:delete_or_backspace ["vim_mode" 1] ["visual_mode" 0] ["visual_block_mode" 0] :!SCOTf19]]
                    [:y [["vim_mode" 1] ["visual_mode" 0] ["visual_block_mode" 0] :!Cc :!SCOTf19]]
                    ]}


        {:des "spacebar_mode"
         :rules [:spacebar_mode
                 [:4 :!CSopen_bracket]
                 [:5 :!CSclose_bracket]
                 ]}

        {:des "Programming Mode"
         :rules [:programming_mode
                 [:c [:km "open: Chrome"]]
                 [:i [:km "open: iTerm"]]
                 [:j [:km "open: IntelliJ"]]
                 [:p [:km "open: Postman"]]
                 [:t [:km "open: Tower"]]
                 [:v [:km "open: VS Code"]]
                 [:z [:km "open: Franz"]]
                 ]}

        {:des "Launch mode (l+;)" :rules [[{:sim [:l :semicolon]
                                     :simo {:interrupt true
                                            :dorder :insensitive
                                            :uorder :insensitive
                                            :afterup {:set ["launch_mode" 0]}}} {:set ["launch_mode" 1]}]]}
        {:des "Launch mode -> a (Open Activity Monitor)" :rules [:launch_mode [:##a [:km "open: Activity Monitor"]]]}
        {:des "Launch mode -> b (Open BetterTouchTool)" :rules [:launch_mode [:##b [:km "open: BetterTouchTool"]]]}
        {:des "Launch mode -> c (Open Chrome)" :rules [:launch_mode [:##c [:km "open: Chrome"]]]}
        {:des "Launch mode -> d (Open Dash)" :rules [:launch_mode [:##d :!TSC1]]}
        {:des "Launch mode -> f (Open Fantastical)" :rules [:launch_mode [:##f [:km "open: Fantastical"]]]}
        {:des "Launch mode -> g (Open Messages)" :rules [:launch_mode [:##g [:km "open: Messages"]]]}
        {:des "Launch mode -> h (Open Postman)" :rules [:launch_mode [:##h [:km "open: Postman"]]]}
        {:des "Launch mode -> i (Open iTerm)" :rules [:launch_mode [:##i [:km "open: iTerm"]]]}
        {:des "Launch mode -> k (Open Keyboard Maestro)" :rules [:launch_mode [:##k [:km "open: Keyboard Maestro"]]]}
        {:des "Launch mode -> m (Open Omnifocus)" :rules [:launch_mode [:##m [:km "open: Omnifocus"]]]}
        {:des "Launch mode -> n (Open Evernote)" :rules [:launch_mode [:##n [:km "open: Evernote"]]]}
        {:des "Launch mode -> e (Open Editor)" :rules [:launch_mode [:##e [:km "open: Editor"]]]}
        {:des "Launch mode -> s (Open Snippets)" :rules [:launch_mode [:##s :!TSC2]]}
        {:des "Launch mode -> t (Open Teams)" :rules [:launch_mode [:##t [:km "open: Teams"]]]}
        {:des "Launch mode -> w (Open BitWarden)" :rules [:launch_mode [:##w [:km "open: BitWarden"]]]}
        {:des "Launch mode -> z (Open Franz)" :rules [:launch_mode [:##z [:km "open: Franz"]]]}
        {:des "Launch mode -> caps_lock (Open Franz)" :rules [:launch_mode [:##caps_lock [:km "open: Finder"]]]}

        {:des "Semicolon Mode (;+')(global cross application shortcuts)" :rules [[{:sim [:semicolon :quote]
                                     :simo {:interrupt true
                                            :dorder :insensitive
                                            :uorder :insensitive
                                            :afterup {:set ["semicolon_mode" 0]}}} {:set ["semicolon_mode" 1]}]]}
        {:des "Semicolon mode f -> Volume Up" :rules [:semicolon_mode [:##f :volume_increment]]}
        {:des "Semicolon mode d -> Volume Down" :rules [:semicolon_mode [:##d :volume_decrement]]}
        {:des "Semicolon mode g -> Toggle Noizio on/off" :rules [:semicolon_mode [:##g :!OCT0]]}
        {:des "Semicolon mode a -> Mute" :rules [:semicolon_mode [:##a :mute]]}
        {:des "Semicolon mode r -> Brightness Up" :rules [:semicolon_mode [:##r :display_brightness_increment]]}
        {:des "Semicolon mode e -> Brightness Down" :rules [:semicolon_mode [:##e :display_brightness_decrement]]}

        ; {:des "Window Manipulation mode (wkey)"
        ; ; USES BETTER TOUCH TOOL "OTHER" TRIGGERS TO CHANGE WINDOWS
        ;   :rules [:w-mode
        ;          [:n [:btt "Maximize Window to Next Monitor"]]
        ;          [:e [:btt "Smaller On Left"]]
        ;          [:r [:btt "Smaller On Right"]]
        ;          [:return_or_enter [:btt "Maximize Window"]]
        ;          [:h [:btt "Maximize Window Left"]]
        ;          [:j [:btt "Maximize Window to Bottom Half"]]
        ;          [:k [:btt "Maximize Window to Top Half"]]
        ;          [:l [:btt "Maximize Window Right"]]
        ;          [:u [:btt "Resize Window to Top Left Quarter / Corner"]]
        ;          [:i [:btt "Resize Window to Top Right Quarter / Corner"]]
        ;          [:m [:btt "Resize Window to Bottom Left Quarter / Corner"]]
        ;          [:comma [:btt "Resize Window to Bottom Right Quarter / Corner"]]
        ;          ]}

;         USES SPECTACLE TO CHANGE WINDOWS
       ; {:des "Window Manipulation mode (spacebar+w)" :rules [[{:sim [:w :spacebar]
       ;                             :simo {:interrupt true
       ;                                      :dorder :insensitive
       ;                                      :uorder :insensitive
       ;                                      :afterup {:set ["window_manipulation_mode" 0]}}} {:set ["window_manipulation_mode" 1]}]]}
       ;  {:des "Window Manipulation mode -> n (Spectacle move current window to next monitor)" :rules [:window_manipulation_mode [:##n :!TOSCf15]]}
       ;  {:des "Window Manipulation mode -> e (Spectacle shrink current window)" :rules [:window_manipulation_mode [:##e [:km "hotkey: window_manipulation_mode+e"]]]}
       ;  {:des "Window Manipulation mode -> r (Spectacle grow current window)" :rules [:window_manipulation_mode [:##r [:km "hotkey: window_manipulation_mode+r"]]]}
       ;  {:des "Window Manipulation mode -> - (Spectacle shrink vim split vertically)" :rules [:window_manipulation_mode [:##hyphen [:km "hotkey: window_manipulation_mode+hyphen"]]]}
       ;  {:des "Window Manipulation mode -> = (Spectacle equalize vim splits)" :rules [:window_manipulation_mode [:##equal_sign [:km "hotkey: window_manipulation_mode+equal_sign"]]]}
       ;  {:des "Window Manipulation mode -> delete (Spectacle grow vim split vertically)" :rules [:window_manipulation_mode [:##equal_sign [:km "hotkey: window_manipulation_mode+equal_sign"]]]}
       ;  {:des "Window Manipulation mode -> delete (Spectacle grow vim split vertically)" :rules [:window_manipulation_mode [:##delete_or_backspace [:km "hotkey: window_manipulation_mode+delete_or_backspace"]]]}
       ;  {:des "Window Manipulation mode -> return_or_enter (Spectacle maximize current window)" :rules [:window_manipulation_mode [:##return_or_enter :!TOSCf19]]}
       ;  {:des "Window Manipulation mode -> caps_lock (Spectacle center current window)" :rules [:window_manipulation_mode [:##backslash :!TOSCf18]]}
       ;  {:des "Window Manipulation mode -> t (Spectacle resize current window to a third of the screen)" :rules [:window_manipulation_mode [:##t :!TOSCf20]]}
       ;  {:des "Window Manipulation mode -> h (Spectacle resize current window to left half of the screen)" :rules [:window_manipulation_mode [:##h :!TOSCleft_arrow]]}
       ;  {:des "Window Manipulation mode -> j (Spectacle resize current window to bottom half of the screen)" :rules [:window_manipulation_mode [:##j :!TOSCdown_arrow]]}
       ;  {:des "Window Manipulation mode -> k (Spectacle resize current window to upper half of the screen)" :rules [:window_manipulation_mode [:##k :!TOSCup_arrow]]}
       ;  {:des "Window Manipulation mode -> l (Spectacle resize current window to right half of the screen)" :rules [:window_manipulation_mode [:##l :!TOSCright_arrow]]}
       ;  {:des "Window Manipulation mode -> i (Spectacle resize current window to upper-left half of the screen)" :rules [:window_manipulation_mode [:##i :!TOSCf11]]}
       ;  {:des "Window Manipulation mode -> o (Spectacle resize current window to upper-right half of the screen)" :rules [:window_manipulation_mode [:##o :!TOSCf13]]}
       ;  {:des "Window Manipulation mode -> , (Spectacle resize current window to bottom-left half of the screen)" :rules [:window_manipulation_mode [:##comma :!TOSCf12]]}
       ;  {:des "Window Manipulation mode -> . (Spectacle resize current window to bottom-right half of the screen)" :rules [:window_manipulation_mode [:##period :!TOSCf14]]}


        ; {:des "Spacebar+Command Mode" :rules [[{:sim [:left_command :spacebar]
        ;                              :simo {:interrupt true
        ;                                     :dorder :insensitive
        ;                                     :uorder :insensitive
        ;                                     :afterup {:set ["spacebar_command_mode" 0]}}} {:set ["spacebar_command_mode" 1]}]]}
        ; {:des "Spacebar+Command mode j -> " :rules [:spacebar_command_mode [:##j :down_arrow]]}
        ; {:des "Spacebar+Command mode k -> " :rules [:spacebar_command_mode [:##k :up_arrow]]}
        ; {:des "Spacebar+Command mode h -> " :rules [:spacebar_command_mode [:##h :left_arrow]]}
        ; {:des "Spacebar+Command mode l -> " :rules [:spacebar_command_mode [:##l :right_arrow]]}
        ; {:des "Spacebar+Command mode caps_lock -> " :rules [:spacebar_command_mode [:##4 :!SCopen_bracket]]}
        ; {:des "Spacebar+Command mode g -> " :rules [:spacebar_command_mode [:##3 :!OSCopen_bracket]]}
        ; {:des "Spacebar+Command mode b -> " :rules [:spacebar_command_mode [:##b :!Oleft_arrow]]}
        ; {:des "Spacebar+Command mode w -> " :rules [:spacebar_command_mode [:##w :!Oright_arrow]]}
        ; {:des "Spacebar+Command mode e -> " :rules [:spacebar_command_mode [:##e :!Oright_arrow]]}
        ; {:des "Spacebar+Command mode i -> " :rules [:spacebar_command_mode [:##i :!Cleft_arrow]]}
        ; {:des "Spacebar+Command mode a -> " :rules [:spacebar_command_mode [:##a :!Cright_arrow]]}
        ; {:des "Spacebar+Command mode u -> " :rules [:spacebar_command_mode [:##u :!Cz]]}
        ; {:des "Spacebar+Command mode r -> " :rules [:spacebar_command_mode [:##r :!CSz]]}
        ; {:des "Spacebar+Command mode y -> " :rules [:spacebar_command_mode [:##y :!Cc]]}
        ; {:des "Spacebar+Command mode p -> " :rules [:spacebar_command_mode [:##p :!Cv]]}

        {:des "GO TO Mode (f+g)" :rules [[{:sim [:f :g]
                                     :simo {:interrupt true
                                            :dorder :insensitive
                                            :uorder :insensitive
                                            :afterup {:set ["go_to_mode" 0]}}} {:set ["go_to_mode" 1]}]]}
        {:des "GO TO mode A" :rules [:go_to_mode [:##a [:km "hotkey: go_to_mode+a"]]]}
        {:des "GO TO mode B" :rules [:go_to_mode [:##b [:km "hotkey: go_to_mode+b"]]]}
        {:des "GO TO mode C" :rules [:go_to_mode [:##c [:km "hotkey: go_to_mode+c"]]]}
        {:des "GO TO mode D" :rules [:go_to_mode [:##d [:km "hotkey: go_to_mode+d"]]]}
        {:des "GO TO mode E" :rules [:go_to_mode [:##e [:km "hotkey: go_to_mode+e"]]]}
        {:des "GO TO mode F" :rules [:go_to_mode [:##f [:km "hotkey: go_to_mode+f"]]]}
        {:des "GO TO mode G" :rules [:go_to_mode [:##g [:km "hotkey: go_to_mode+g"]]]}
        {:des "GO TO mode H" :rules [:go_to_mode [:##h [:km "hotkey: go_to_mode+h"]]]}
        {:des "GO TO mode I" :rules [:go_to_mode [:##i [:km "hotkey: go_to_mode+i"]]]}
        {:des "GO TO mode J" :rules [:go_to_mode [:##j [:km "hotkey: go_to_mode+j"]]]}
        {:des "GO TO mode K" :rules [:go_to_mode [:##k [:km "hotkey: go_to_mode+k"]]]}
        {:des "GO TO mode L" :rules [:go_to_mode [:##l [:km "hotkey: go_to_mode+l"]]]}
        {:des "GO TO mode M" :rules [:go_to_mode [:##m [:km "hotkey: go_to_mode+m"]]]}
        {:des "GO TO mode N" :rules [:go_to_mode [:##n [:km "hotkey: go_to_mode+n"]]]}
        {:des "GO TO mode O" :rules [:go_to_mode [:##o [:km "hotkey: go_to_mode+o"]]]}
        {:des "GO TO mode P" :rules [:go_to_mode [:##p [:km "hotkey: go_to_mode+p"]]]}
        {:des "GO TO mode Q" :rules [:go_to_mode [:##q [:km "hotkey: go_to_mode+q"]]]}
        {:des "GO TO mode R" :rules [:go_to_mode [:##r [:km "hotkey: go_to_mode+r"]]]}
        {:des "GO TO mode S" :rules [:go_to_mode [:##s [:km "hotkey: go_to_mode+s"]]]}
        {:des "GO TO mode T" :rules [:go_to_mode [:##t [:km "hotkey: go_to_mode+t"]]]}
        {:des "GO TO mode U" :rules [:go_to_mode [:##u [:km "hotkey: go_to_mode+u"]]]}
        {:des "GO TO mode V" :rules [:go_to_mode [:##v [:km "hotkey: go_to_mode+v"]]]}
        {:des "GO TO mode W" :rules [:go_to_mode [:##w [:km "hotkey: go_to_mode+w"]]]}
        {:des "GO TO mode X" :rules [:go_to_mode [:##x [:km "hotkey: go_to_mode+x"]]]}
        {:des "GO TO mode Y" :rules [:go_to_mode [:##y [:km "hotkey: go_to_mode+y"]]]}
        {:des "GO TO mode Z" :rules [:go_to_mode [:##z [:km "hotkey: go_to_mode+z"]]]}

        {:des "CHANGE Mode (x+c)" :rules [[{:sim [:x :c]
                                     :simo {:interrupt true
                                            :dorder :insensitive
                                            :uorder :insensitive
                                            :afterup {:set ["change_mode" 0]}}} {:set ["change_mode" 1]}]]}
        {:des "CHANGE mode d" :rules [:change_mode [:##d [:km "hotkey: change_mode+d"]]]}
        {:des "CHANGE mode e" :rules [:change_mode [:##e [:km "hotkey: change_mode+e"]]]}
        {:des "CHANGE mode f" :rules [:change_mode [:##f [:km "hotkey: change_mode+f"]]]}
        {:des "CHANGE mode n" :rules [:change_mode [:##n [:km "hotkey: change_mode+n"]]]}
        {:des "CHANGE mode p" :rules [:change_mode [:##p [:km "hotkey: change_mode+p"]]]}
        {:des "CHANGE mode r" :rules [:change_mode [:##r [:km "hotkey: change_mode+r"]]]}
        {:des "CHANGE mode s" :rules [:change_mode [:##s [:km "hotkey: change_mode+s"]]]}
        {:des "CHANGE mode t" :rules [:change_mode [:##t [:km "hotkey: change_mode+t"]]]}


        ; {:des "FOCUS Mode (d+f)" :rules [[{:sim [:d :f]
        ;                              :simo {:interrupt true
        ;                                     :dorder :insensitive
        ;                                     :uorder :insensitive
        ;                                     :afterup {:set ["focus_mode" 0]}}} {:set ["focus_mode" 1]}]]}
        ; {:des "FOCUS mode h -> (Omnifocus/Keyboard Maestro [H] (vim left))" :rules [:focus_mode [:##h [:km "hotkey: focus_mode+h"]]]}
        ; {:des "FOCUS mode j -> (Omnifocus/Keyboard Maestro [J] (vim center))" :rules [:focus_mode [:##j [:km "hotkey: focus_mode+j"]]]}
        ; {:des "FOCUS mode l -> (Omnifocus/Keyboard Maestro [L] (vim right))" :rules [:focus_mode [:##l [:km "hotkey: focus_mode+l"]]]}

  ]
  :simlayer-threshold 150
}

