{:profiles
 {:MrStark {:default true
         :sim     50
         :delay   500
         :alone   500
         :held    500}}
 :applications {:vim-mode-disabled-application ["^com\\.apple\\.Terminal$",
                                                "^com\\.googlecode\\.iterm2$",
                                                "^org\\.vim\\."]
                :Chromes                       ["^com\\.google\\.Chrome$", "^org\\.chromium\\.Chromium$", "^com\\.google\\.Chrome\\.canary$"]
                :Terminals                     ["^com\\.apple\\.Terminal$", "^com\\.googlecode\\.iterm2$", "^io\\.alacritty$"]
               }
 :templates {:alfred "osascript -e 'tell application \"Alfred 3\" to run trigger \"%s\" in workflow \"%s\" with argument \"%s\"'"
             :km "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
             :btt "osascript -e 'tell application \"BetterTouchTool\" to trigger_named \"%s\"'"
             }
 :simlayers {:caps_lock-mode {:key :caps_lock}
             :l-mode {:key :l}
             :semicolon-mode {:key :semicolon}
             :navigation-mode {:key :f24} ; Bind an unused key
             :c-mode {:key :c}
             :f-mode {:key :f}
             :u-mode {:key :u}
             :w-mode {:key :w}
             :g-mode {:key :g}
             :vi-mode {:key :spacebar}
             :vi-visual-mode {:key :v :condi :!vim-mode-disabled-application}}
 :main [{:des "Caps -> Hyper / Esc"
          :rules [[:##caps_lock :!CTOleft_shift nil {:alone :escape}]]}
        {:des "lkey (launch mode)"
                 :rules [:l-mode
                         [:a [:km "open: Activity Monitor"]]
                         [:c [:km "open: Chrome"]]
                         [:m [:km "open: Omnifocus"]]
                         [:caps_lock [:km "open: Finder"]]
                         [:b [:km "open: BetterTouchTool"]]
                         [:d :!OSC1] ; Open Dash
                         [:f [:km "open: Fantastical"]]
                         [:z [:km "open: Franz"]]
                         [:n [:km "open: Notes"]]
                         [:o [:km "open: Outlook"]]
                         [:s [:km "open: Skype"]]
                         [:t [:km "open: Teams"]]
                         [:i [:km "open: iTerm"]]
                         [:w [:km "open: BitWarden"]]
                         [:r [:km "open: Editor"]]
                         [:k [:km "open: Keyboard Maestro"]]]}
        {:des "ukey (media)"
         :rules [:u-mode
                 [:t :mute]
                 [:w :!OCT0] ; Turn on/off Noizio
                 [:i [:km "WiFi -> Internet"]]
                 [:b [:km "WiFi -> BLUESSO"]]
                 [:d [:km "WiFi -> Doxie"]]
                 [:h :vk_consumer_previous]
                 [:l :vk_consumer_next]
                 [:k :vk_consumer_play]]}
        {:des "right cmd -> Alfred"
                 :rules [[:right_command :right_command nil {:alone :!CTOSspacebar}]]}
        {:des "GO TO mode"
         :rules [:g-mode
                [:semicolon [:km "hotkey: g+;"]] ; Fantastical [G]o to [;] (specific day)
                [:a [:km "hotkey: g+a"]] ; Outlook [G]o to [A]rchive
                [:c [:km "hotkey: g+c"]] ; Omnifocus [G]o to [C]hores
                [:d [:km "hotkey: g+d"]] ; Fantastical [G]o to [D]ay
                [:f [:km "hotkey: g+f"]] ; Omnifocus [G]o to [F]orecast
                [:i [:km "hotkey: g+i"]] ; Omnifocus [G]o to [I]nbox
                [:j [:km "hotkey: g+j"]] ; Outlook [G]o to [J]unk
                [:c [:km "hotkey: g+c"]] ; Omnifocus [G]o to [C]hores
                [:l [:km "hotkey: g+l"]] ; Omnifocus [G]o to p[L]anning actions
                [:m [:km "hotkey: g+m"]] ; Fantastical [G]o to [M]onth
                [:n [:km "hotkey: g+n"]] ; Omnifocus [G]o to [N]ow
                [:p [:km "hotkey: g+p"]] ; Omnifocus [G]o to [P]rojects
                [:r [:km "hotkey: g+r"]] ; Omnifocus [G]o to [R]outines
                [:s [:km "hotkey: g+s"]] ; Omnifocus [G]o to [S]oon
                [:t [:km "hotkey: g+t"]] ; Fantastical [G]o to [T]oday
                [:w [:km "hotkey: g+w"]] ; Omnifocus [G]o to [W]ork | Fantastical [G]o to [W]eek
                [:y [:km "hotkey: g+y"]] ; Fantastical [G]o to [Y]ear
                ]}
        {:des "[C]hange property mode"
         :rules [:c-mode
                [:d [:km "hotkey: c+d"]] ; Omnifocus [C]hange [D]ue date
                [:e [:km "hotkey: c+e"]] ; Omnifocus [C]hange [E]stimated Time
                [:f [:km "hotkey: c+f"]] ; Omnifocus [C]hange [F]lag toggle
                [:n [:km "hotkey: c+n"]] ; Omnifocus [C]hange [N]otes
                [:p [:km "hotkey: c+p"]] ; Omnifocus [C]hange [P]roject
                [:r [:km "hotkey: c+r"]] ; Omnifocus [C]hange [R]epeat
                [:s [:km "hotkey: c+s"]] ; Omnifocus [C]hange [S]tart date (Defer date)
                [:t [:km "hotkey: c+t"]] ; Omnifocus [C]hange [T]ags
                ]}
        {:des "Focus on part of window"
         :rules [:f-mode
                [:h [:km "hotkey: f+h"]] ; Omni/KM [F]ocus [h](left)
                [:j [:km "hotkey: f+j"]] ; Omni/KM [F]ocus [j](center)
                [:l [:km "hotkey: f+l"]] ; Omni/KM [F]ocus [l](right)
                ]}
        {:des "Semicolon macros"
         :rules [:semicolon-mode
                [:s [:km "hotkey: ;+s"]]
                [:i [:km "hotkey: ;+i"]]
                ]}
        {:des "Window Manipulation mode (wkey)"
;         USES BETTER TOUCH TOOL "OTHER" TRIGGERS TO CHANGE WINDOWS
          ; :rules [:w-mode
          ;        [:n [:btt "Maximize Window to Next Monitor"]]
          ;        [:e [:btt "Smaller On Left"]]
          ;        [:r [:btt "Smaller On Right"]]
          ;        [:return_or_enter [:btt "Maximize Window"]]
          ;        [:h [:btt "Maximize Window Left"]]
          ;        [:j [:btt "Maximize Window to Bottom Half"]]
          ;        [:k [:btt "Maximize Window to Top Half"]]
          ;        [:l [:btt "Maximize Window Right"]]
          ;        [:u [:btt "Resize Window to Top Left Quarter / Corner"]]
          ;        [:i [:btt "Resize Window to Top Right Quarter / Corner"]]
          ;        [:m [:btt "Resize Window to Bottom Left Quarter / Corner"]]
          ;        [:comma [:btt "Resize Window to Bottom Right Quarter / Corner"]]
          ;        ]}
;         USES SPECTACLE TO CHANGE WINDOWS
          :rules [:w-mode
                 [:n :!TOSCf15]
                 [:e [:km "hotkey: w+e"]]
                 [:r [:km "hotkey: w+r"]]
                 [:hyphen [:km "hotkey: w+hyphen"]]
                 [:equal_sign [:km "hotkey: w+equal_sign"]]
                 [:delete_or_backspace [:km "hotkey: w+delete_or_backspace"]]
                 [:return_or_enter :!TOSCf19]
                 [:t :!TOSCf20]
                 [:h :!TOSCleft_arrow]
                 [:j :!TOSCdown_arrow]
                 [:k :!TOSCup_arrow]
                 [:l :!TOSCright_arrow]
                 [:i :!TOSCf11]
                 [:o :!TOSCf13]
                 [:comma :!TOSCf12]
                 [:period :!TOSCf14]
                 ]}
        {:des   "misc"
                 ;; https://superuser.com/a/324267
         :rules [
                 [:!CSl [:!Cl :j :a :v :a :s :c :r :i :p :t :!Ssemicolon :return_or_enter] :Chromes]
                 ]}
        {:des "SuperDuper <- S+D" :rules [[{:sim [:s :d]
                                     :simo {:interrupt true
                                            :dorder :insensitive
                                            :uorder :insensitive
                                            :afterup {:set ["superduper-mode" 0]}}} {:set ["superduper-mode" 1]}]]}
        {:des "SuperDuper H -> Left" :rules [:superduper-mode [:##h :left_arrow]]}
        {:des "SuperDuper J -> Down" :rules [:superduper-mode [:##j :down_arrow]]}
        {:des "SuperDuper K -> Up" :rules [:superduper-mode [:##k :up_arrow]]}
        {:des "SuperDuper L -> Right" :rules [:superduper-mode [:##l :right_arrow]]}
        {:des "SuperDuper V -> Shift" :rules [:superduper-mode [:##v :left_shift]]}
        {:des "SuperDuper I -> Back to Beginning" :rules [:superduper-mode [:##i :!Cleft_arrow]]}
        {:des "SuperDuper O -> Forward to Front" :rules [:superduper-mode [:##o :!Cright_arrow]]}
        {:des "SuperDuper N -> Back 1 Word" :rules [:superduper-mode [:##n :!Oleft_arrow]]}
        {:des "SuperDuper M -> Forward 1 Word" :rules [:superduper-mode [:##m :!Oright_arrow]]}

        {:des "Vi Mode Spacebar as Trigger Key]"
         :rules [:vi-mode
                 [:left_shift :left_shift]
                 [:##j :down_arrow]
                 [:##k :up_arrow]
                 [:##h :left_arrow]
                 [:##l :right_arrow]
                 [:##b :!Oleft_arrow]
                 [:##w :!Oright_arrow]
                 [:##e :!Oright_arrow]
                 [:##i :!Cleft_arrow]
                 [:##a :!Cright_arrow]
                 [:##0 :!Ta]
                 [:##4 :!Te]
                 [:##open_bracket :!Oup_arrow]
                 [:##close_bracket :!Odown_arrow]]}
        {:des "Vi Visual Mode"
         :rules [[:##j :!Sdown_arrow :vi-visual-mode]
                 [:##k :!Sup_arrow :vi-visual-mode]
                 [:##h :!Sleft_arrow :vi-visual-mode]
                 [:##l :!Sright_arrow :vi-visual-mode]
                 [:##b :!SOleft_arrow :vi-visual-mode]
                 [:##w :!SOright_arrow :vi-visual-mode]
                 [:##e :!SOright_arrow :vi-visual-mode]
                 [:##i :!SCleft_arrow :vi-visual-mode]
                 [:##a :!SCright_arrow :vi-visual-mode]
                 [:##0 :!SCleft_arrow :vi-visual-mode]
                 [:##4 :!SCright_arrow :vi-visual-mode]
                 [:##open_bracket :!SOup_arrow :vi-visual-mode]
                 [:##close_bracket :!SOdown_arrow :vi-visual-mode]]}
        ]
  :simlayer-threshold 250
}

