<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>01B60838-35DE-4CC7-823E-BED78467131A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Fred Liang</string>
	<key>description</key>
	<string>A quick way to check out http status code.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>HTTP Status Code</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>01B60838-35DE-4CC7-823E-BED78467131A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>httplib</string>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string>'''
HTTP Status Code v0.1

Github: https://github.com/ilstar/http_status_code
Author: Fred Liang
'''

import csv

from feedback import Feedback

query = '{query}'
query = query.lower()
baseurl = 'http://en.wikipedia.org/wiki/List_of_HTTP_status_codes#'

fb = Feedback()

with open('status_code.csv', 'r') as csvfile:
    reader = csv.reader(csvfile)
    for row in reader:
        code, desc = row
        lower_desc = desc.lower()

        if code.find(query) != -1:
            fb.add_item(desc, code, arg=baseurl + code)
        elif lower_desc.find(query) != -1:
            fb.add_item(code, desc, arg=baseurl + code)

print fb</string>
				<key>subtext</key>
				<string>A quick way to check out HTTP status code.</string>
				<key>title</key>
				<string>HTTP Status Code</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>01B60838-35DE-4CC7-823E-BED78467131A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/ilstar/http_status_code</string>
</dict>
</plist>
