<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>3B29EC03-B7AA-4C4B-9F34-B12CF7E2DCB0</key>
		<array/>
		<key>F8C5D133-7C4D-44F2-845B-FAE1568A09E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B29EC03-B7AA-4C4B-9F34-B12CF7E2DCB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DCCA47C8-82B7-4E15-9A45-A109AE3A4796</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1D1A451A-281D-4417-BFFA-AB88A73A5D31</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Michael Mroczka</string>
	<key>description</key>
	<string>Use keyword "ynab" to launch budgetting apps to reconcile</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Reconcile YNAB</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://app.youneedabudget.com/0f2a34f9-2ddf-45a6-8e25-dca325f42990/budget</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3B29EC03-B7AA-4C4B-9F34-B12CF7E2DCB0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.pnc.com/en/personal-banking.html</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DCCA47C8-82B7-4E15-9A45-A109AE3A4796</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ynab</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Launch ynab to reconcile bills</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F8C5D133-7C4D-44F2-845B-FAE1568A09E7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.ally.com/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1D1A451A-281D-4417-BFFA-AB88A73A5D31</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Created by the Alfred team!</string>
	<key>uidata</key>
	<dict>
		<key>1D1A451A-281D-4417-BFFA-AB88A73A5D31</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>3B29EC03-B7AA-4C4B-9F34-B12CF7E2DCB0</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>DCCA47C8-82B7-4E15-9A45-A109AE3A4796</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>F8C5D133-7C4D-44F2-845B-FAE1568A09E7</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
