<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>1.0</string>
	<key>connections</key>
	<dict>
		<key>2B4DF3FA-94D5-4FC4-892D-EADE45605630</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D7F2415-6E28-4069-865C-BF3976A7C7DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3D7F2415-6E28-4069-865C-BF3976A7C7DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A344F0AD-EFB5-49F6-B077-124BA9332B0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3ED2A9FD-BA9A-4402-A78F-07C6D0A45E54</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6458A05F-90C0-4792-A1AF-8704D63E5DDB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A344F0AD-EFB5-49F6-B077-124BA9332B0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3ED2A9FD-BA9A-4402-A78F-07C6D0A45E54</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CAE2C9D0-4FE7-492B-93DE-6DDFDC06AB90</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D7F2415-6E28-4069-865C-BF3976A7C7DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Filip Jaksic</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Do Not Disturb Toggle</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [[ $(plutil -convert xml1 -o - ~/Library/Preferences/ByHost/com.apple.notificationcenterui.*.plist | grep false) ]]; then
	defaults -currentHost write ~/Library/Preferences/ByHost/com.apple.notificationcenterui doNotDisturb -boolean true
	defaults -currentHost write ~/Library/Preferences/ByHost/com.apple.notificationcenterui doNotDisturbDate -date "`date -u +\"%Y-%m-%d %H:%M:%S +0000\"`"
	
	echo "Enabled"
else
	defaults -currentHost write ~/Library/Preferences/ByHost/com.apple.notificationcenterui doNotDisturb -boolean false
	echo "Disabled"
fi

killall NotificationCenter</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3D7F2415-6E28-4069-865C-BF3976A7C7DD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Do Not Disturb</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A344F0AD-EFB5-49F6-B077-124BA9332B0F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Glass</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>6458A05F-90C0-4792-A1AF-8704D63E5DDB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>do not disturb</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Toggle Do Not Disturb</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CAE2C9D0-4FE7-492B-93DE-6DDFDC06AB90</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.5</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>3ED2A9FD-BA9A-4402-A78F-07C6D0A45E54</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dnd</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Toggle Do Not Disturb</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2B4DF3FA-94D5-4FC4-892D-EADE45605630</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2B4DF3FA-94D5-4FC4-892D-EADE45605630</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>3D7F2415-6E28-4069-865C-BF3976A7C7DD</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>3ED2A9FD-BA9A-4402-A78F-07C6D0A45E54</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>6458A05F-90C0-4792-A1AF-8704D63E5DDB</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>A344F0AD-EFB5-49F6-B077-124BA9332B0F</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>CAE2C9D0-4FE7-492B-93DE-6DDFDC06AB90</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>crobotix.com</string>
</dict>
</plist>
